<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Edição de Animais
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Animal</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/pets/{$pet.idpet}" method="post" enctype="multipart/form-data">
          <div class="box-body">
            <div class="form-group">
              <label for="pet">Nome do animal</label>
              <input type="text" class="form-control" id="pet" name="pet" placeholder="Digite o nome do produto" value="{$pet.pet}" required >
            </div>
            <div class="form-group">
              <label for="rc">Raça/Cor do animal</label>
              <input type="text" class="form-control" id="rc" name="rc" placeholder="Digite a raça e a cor do animal" value="{$pet.rc}" required >
            </div>
            <div class="form-group">
              <label for="vlheight">Altura</label>
              <input type="number" class="form-control" id="vlheight" name="vlheight" step="0.01" placeholder="0.00" value="{$pet.vlheight}" required >
            </div>
            <div class="form-group">
              <label for="vllength">Comprimento</label>
              <input type="number" class="form-control" id="vllength" name="vllength" step="0.01" placeholder="0.00" value="{$pet.vllength}" required >
            </div>
            <div class="form-group">
              <label for="vlweight">Peso</label>
              <input type="number" class="form-control" id="vlweight" name="vlweight" step="0.01" placeholder="0.00" value="{$pet.vlweight}" required >
            </div>
            <div class="form-group">
              <label for="url">Url</label>
              <input type="text" class="form-control" id="url" name="url" value="{$pet.url}" required >
            </div>
            <div class="form-group">
              <label for="descr">Descrição do Animal</label>
              <input type="text" class="form-control" id="descr" name="descr" value="{$pet.descr}" required >
            </div>
            <div class="form-group">
              <label for="file">Foto</label>
              <span class="input-group-btn">
                <button type="button" class="glyphicon glyphicon-camera btn btn-warning" style="font-size:15px"><input title=" " type="file" name="file" id="file" value="{$pet.photo}" required style="position: absolute; left: 0; top: 0; opacity: 0;" /></button>
              </span>
              <div class="box box-widget">
                <div class="box-body">
                  <!-- / é necessario para encontrar o caminho da imagem.
                      No banco de dados o caminho salvo é res/site/img/pets/ . $this->getpet() . $this->getidphoto() . $this->getidpet() . ".jpg" , então o retorno é o mesmo, como se trata de um diretorio / para encontrar.
                  -->
                  <img class="img-responsive" id="image-preview" src="/{$pet.photo}" alt="Imagem do animal">
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
document.querySelector('#file').addEventListener('change', function(){
  
  var file = new FileReader();

  file.onload = function() {
    
    document.querySelector('#image-preview').src = file.result;

  }

  file.readAsDataURL(this.files[0]);

});
</script>