<div class="col-xs-4"></div>
<div class="col-xs-4">
{if="$loginSuccess != ''"}
<div class="alert alert-success" align="center">
    {$loginSuccess}
</div>
{/if}
</div>
<div class="col-xs-4"></div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <h1>Termo de Responsabilidade do Tutor Adotante</h1>

                <button type="submit" id="btn-print" class="button alt" style="margin-bottom:10px">Imprimir</button>

                <iframe src="/terms/{$pet.idpet}" name="boleto" frameborder="0" style="width:100%; min-height:1000px; border:1px solid #CCC; padding:20px;"></iframe>

                <script>
                document.querySelector("#btn-print").addEventListener("click", function(event){

                    event.preventDefault();

                    window.frames["boleto"].focus();
                    window.frames["boleto"].print();

                });                
                </script>

            </div>
        </div>
    </div>
</div>