<div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
                    {loop="$pets"}
					<li>
						<img style="width:600px; height: 395px" src="{$value.photo}" alt="Slide">
						<div class="caption-group">
							<h4 class="caption subtitle">{$value.pet}</h4>
							<a class="caption button-radius" href="/pets/{$value.url}"><span class="icon"></span>Adotar</a>
						</div>
					</li>
                    {/loop}
				</ul>
			</div>
			<!-- ./Slider -->
    </div> <!-- End slider area -->
    
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {loop="$ongs"}
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-users"></i>
                        <p><a href="{$value.url}" style="color:#D3D3D3">{$value.ong}</a></p>
                    </div>
                </div>
                {/loop}
            </div>
        </div>
    </div> <!-- End promo area -->
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Animais</h2>
                        <div class="product-carousel">
                            {loop="$pets"}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{$value.photo}" alt="Imagem do animal">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-eye"></i> Adotar</a>
                                        <a href="/pets/{$value.url}" class="view-details-link"><i class="fa fa-paw"></i> ver detalhes</a>
                                    </div>
                                </div>
                                
                                <h2><a href="/pets/{$value.url}">{$value.pet}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <p>{$value.rc}</p>
                                </div>
                            </div>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img src="/res/site/img/brand1.png" alt="">
                            <img src="/res/site/img/brand2.png" alt="">
                            <img src="/res/site/img/brand3.png" alt="">
                            <img src="/res/site/img/brand4.png" alt="">
                            <img src="/res/site/img/brand5.png" alt="">
                            <img src="/res/site/img/brand6.png" alt="">  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->